.container {
  max-width: 1160px;
  padding: 0 5%;
  display: flex;
  flex-flow: column;
  height: 100vh;
  height: 100dvh;
  .headerContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
}

main {
  flex: 1;
}
