<section class="container">
    <h2>{{houseLocation?.city}}</h2>
    <img [src]="houseLocation?.photo" alt="" class="imgContainer">
    <p>{{houseLocation?.name}}</p>
    <form [formGroup]="applyForm" (submit)="submitForm()" class="formContainer">
        <Label for="first-name">first Name <input id="first-name" type="text" formControlName="firstName">
        </Label>
        <Label for="second-name">second Name <input id="second-name" type="text" formControlName="secondName">
        </Label>
        <Label for="email">email <input id="email" type="email" formControlName="email">
        </Label>
        <button type="submit">Apply</button>
    </form>
</section>